{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

{% endblock %}

{% block main %}

{% for user in prolist %}
<div class = "box">
	<img src="{{ url_for('static',filename="uploads/"+ new_profile.photo) }}" alt="Picture of User">

    
	<h1> {{ user.first_name }} {{ user.last_name }} </h1>
	<p class = "info"> {{ user.email }}</p>
	<p class = "info"> {{ user.location }} </p>
	<p class = "info"> Joined on: {{ user.created}}</p>

	<div class = "other_half">	

		<div class="row">
			<div class="col-md-12"> 
				<div class = "about">
					<p> {{ user.biography }}
					</p>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-md-4"> 
				<span class = "num"> 7</span>
			</div>
			<div class="col-md-4 mobile-padding-left"> 
				<span class = "num"> 1</span>
			</div>
			<div class="col-md-4"> 
				<span class = "num"> 734</span>
			</div>
			
		</div>
		
		<div class="row"> 
			<div class="col-md-4"> 
				<span class = "follow_info"> 
					Posts
				</span>
			</div>
			<div class="col-md-4 mobile-padding-left"> 
				<span class = "follow_info"> 
					Following
				</span>
			</div>
			<div class="col-md-4"> 
				<span class = "follow_info"> 
					Followers
				</span>
			</div>
		</div>
			
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-success btn-lg">
					Follow
				</button>
				<a class="btn btn-success btn-lg" href="/profile/{{ new_profile.userid }}"> 
					View Profile 
				</a>
			</div>
		</div>
		
	</div>	
</div>
{% endfor %}



{% endblock %}